.cardContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.cardPositioner {
  display: flex;
  position: relative;
  height: var(--card-height);
  flex-direction: column;
  align-items: center;
}

.outerCard {
  position: relative;
  display: flex;
  flex: 1;
  width: var(--card-width);
}

.innerCard {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: var(--primary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--radius-xlarge);
  padding: var(--padding-xlarge);
  font-family: var(--font-inter);

}

.obstructorOuter {
  /* Just for card developement */
  position: absolute;
  bottom: 0;
  height: 50%;
  width: inherit;
  border-radius: var(--radius-xlarge);
  background-color: var(--on-primary);

  display: flex;
  justify-content: center;
  align-items: center;
}

.obstructorOuter:hover {
  filter: brightness(96%);
}

.textWrapper {
  display: flex;  
  flex: 1;
  padding: var(--padding-xlarge);
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 700;
}

.translationWrapper {
  display: flex;
  flex: 1;
  padding: var(--padding-xlarge);
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
}

.displayNone {
  display: none;
}

.cardToolbarLayout {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0px;
  padding-right: var(--padding-xlarge);
  padding-top: var(--padding-xlarge);
}

.cardToolbar {
  display: flex; 
  flex: 1;
  justify-content: flex-end;
}

.flexContainer {
  display: none;
}

.buttonWrapperLayout {
  display: flex;
  width: var(--card-width);
  flex-direction: row;
  font-weight: 500;
}

.buttonWrapperLayoutInner {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-top: var(--padding-xlarge);
  gap: var(--margin-xlarge);
}

.buttonWrapperLayoutCenter {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
}

.buttonCommon {
  display: flex;
  flex: 1;
  justify-content: center;
}

.buttonInner {
  display: flex;
  align-items: center;
  column-gap: var(--padding-large);
  border-radius: var(--radius-xlarge);
  padding: var(--padding-small) var(--padding-medium);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonInner:hover {
  filter: brightness(96%);
}

.buttonReturn {
  background-color: var(--primary);
}

.buttonProgress {
  background-color: var(--success);
}

.buttonRepeat {
  background-color: var(--failure);
}
