.container {
  display: flex;
  flex: 1;
  /* background-color: rgba(255, 0, 0, 0.5); */
  flex-direction: row;
  justify-content: center;
  column-gap: var(--padding-xlarge);
}

.verticalContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  row-gap: var(--padding-xlarge);
}
