@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --background: #FCFBF9;
  --text-on-background: #000000;
  --text-on-primary: #000000;
  --primary: #F1EFE0;
  --on-primary: #D7D4C2;
  --success: #A3E99D;
  --failure: #E9C59D;
  --icon-stroke: #1E1E1E;

  /* Radius */
  --radius-xsmall: 4px;
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
  --radius-xlarge: 28px;
  --radius-full: 1000px;

  /* Padding & margin */
  --padding-xsmall: 4px;
  --padding-small: 8px;
  --padding-medium: 12px;
  --padding-large: 16px;
  --padding-xlarge: 28px;

  --margin-xsmall: 4px;
  --margin-small: 8px;
  --margin-medium: 12px;
  --margin-large: 16px;
  --margin-xlarge: 28px;

  /* Text */
  --font-size-xsmall: 12px;
  --font-size-small: 16px;
  --font-size-medium: 24px;
  --font-size-large: 36px;
  --font-size-xlarge: 52px;

  /* Ugly global vars */
  --card-width: 40vw;
  --card-height: 35vh;

  /* Global options */
  box-sizing: border-box;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333125;
    --text-on-background: #BCB794;
    --primary: #403C1C;
    --on-primary: #6D6840;
    --success: #375234;
    --failure: #786C5E;
    --icon-stroke: var(--text-on-background);
  }
}

body {
  color: var(--text-on-background);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-inter);

  /* Global options */

}
