@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --color-bg-primary: #FCFBF9;
  --color-text-on-background: #000000;
  --color-text-on-primary: #000000;
  --color-primary: #F1EFE0;
  --color-on-primary: #D7D4C2;
  --color-success: #A3E99D;
  --color-failure: #E9C59D;
  --color-icon-stroke: #1E1E1E;

  /* Legacy naming */
  /* TODO: Migrate! */
  --background: var(--color-bg-primary);
  --text-on-background: var(--color-text-on-bg);
  --text-on-primary: var(--color-text-on-primary);
  --primary: var(--color-primary);
  --on-primary: var(--color-on-primary);
  --success: var(--color-success);
  --failure: var(--color-failure);
  --icon-stroke: var(--color-icon-stroke);

  /* Radius */
  --radius-xsmall: 4px;
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
  --radius-xlarge: 28px;
  --radius-2xlarge: 48px;
  --radius-full: 1000px;

  /* Padding & margin */
  --padding-xsmall: 4px;
  --padding-small: 8px;
  --padding-medium: 12px;
  --padding-large: 16px;
  --padding-xlarge: 28px;
  --padding-2xlarge: 48px;

  --margin-xsmall: 4px;
  --margin-small: 8px;
  --margin-medium: 12px;
  --margin-large: 16px;
  --margin-xlarge: 28px;
  --margin-2xlarge: 48px;

  /* Text */
  --font-size-xsmall: 12px;
  --font-size-small: 16px;
  --font-size-medium: 24px;
  --font-size-large: 36px;
  --font-size-xlarge: 52px;
  --font-size-2xlarge: 72px;
  --font-size-3xlarge: 96px;
  --font-size-4xlarge: 128px;

  /* Ugly global vars */
  --card-width: 40vw;
  --card-height: 35vh;

  /* Global options */
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --color-bg-primary: #333125; */
    /* --color-text-on-bg: #BCB794; */
    /* --color-primary: #403C1C; */
    /* --color-on-primary: #6D6840; */
    /* --color-success: #375234; */
    /* --color-failure: #786C5E; */
    /* --color-icon-stroke: var(--color-text-on-bg); */

    /* Legacy naming, migrate! */
    --background: var(--color-bg-primary);
    --text-on-background: var(--color-text-on-bg);
    --text-on-primary: var(--color-text-on-primary);
    --primary: var(--color-primary);
    --on-primary: var(--color-on-primary);
    --success: var(--color-success);
    --failure: var(--color-failure);
    --icon-stroke: var(--color-icon-stroke);
  }
}

body {
  color: var(--color-text-on-bg);
  background: var(--color-bg-primary);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-inter);

  /* Global options */

}
