@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EDE8DC;
  --accent: #E7CCCC;
  --mainheavy: #A5B68D;
  --mainlight: #C1CFA1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3F2E3E;
    --accent: #331D2C;
    --mainheavy: #A78295;
    --mainlight: #EFE1D1;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
