@import "tailwindcss";

:root {
  /* Utility variables, source of truth. "Clean variables" are produced mostly by tailwind's @theme down below. */

  /* Colors */
  --rv-color-bg-primary: #FCFBF9;
  --rv-color-text-on-background: #000000;
  --rv-color-text-on-primary: #000000;
  --rv-color-primary: #F1EFE0;
  --rv-color-on-primary: #D7D4C2;
  --rv-color-success: #A3E99D;
  --rv-color-failure: #E9C59D;
  --rv-color-icon-stroke: #1E1E1E;
  --rv-color-shadow: rgba(0, 0, 0, 0.25);

  /* Legacy naming */
  /* TODO: Migrate! */
  --background: var(--rv-color-bg-primary);
  --text-on-background: var(--rv-color-text-on-bg);
  --text-on-primary: var(--rv-color-text-on-primary);
  --primary: var(--rv-color-primary);
  --on-primary: var(--rv-color-on-primary);
  --success: var(--rv-color-success);
  --failure: var(--rv-color-failure);
  --icon-stroke: var(--rv-color-icon-stroke);

  /* Radius */
  --radius-xsmall: 0.25rem;
  --radius-small: 0.5rem;
  --radius-medium: 0.75rem;
  --radius-large: 1rem;
  --radius-xlarge: 1.75rem;
  --radius-2xlarge: 3rem;
  --radius-full: 64rem;

  /* Padding & margin */
  --padding-xsmall: 0.25rem;
  --padding-small: 0.5rem;
  --padding-medium: 0.75rem;
  --padding-large: 1rem;
  --padding-xlarge: 1.75rem;
  --padding-2xlarge: 3rem;

  --margin-xsmall: 0.25rem;
  --margin-small: 0.5rem;
  --margin-medium: 0.75rem;
  --margin-large: 1rem;
  --margin-xlarge: 1.75rem;
  --margin-2xlarge: 3rem;

  /* Text */
  --font-size-xsmall: 0.75rem;
  --font-size-small: 1rem;
  --font-size-medium: 1.5rem;
  --font-size-large: 2.25rem;
  --font-size-xlarge: 3.25rem;
  --font-size-2xlarge: 4.5rem;
  --font-size-3xlarge: 6rem;
  --font-size-4xlarge: 8rem;

  --rv-font-weight-xthin: 300;
  --rv-font-weight-thin: 400;
  --rv-font-weight-medium: 500;
  --rv-font-weight-thick: 600;
  --rv-font-weight-xthick: 700;
  --rv-font-weight-2xthick: 800;

  /* Other styles */
  --brightness-hover: 96%;

  /* Ugly global vars */
  --card-width: 40vw;
  --card-height: 35vh;

  /* Global options */
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-primary: #333125;
    --color-text-on-bg: #BCB794;
    --color-primary: #403C1C;
    --color-on-primary: #6D6840;
    --color-success: #375234;
    --color-failure: #786C5E;
    --color-icon-stroke: var(--color-text-on-bg);

    --brightness-hover: 110%;

    /* Legacy naming, migrate! */
    --background: var(--color-bg-primary);
    --text-on-background: var(--color-text-on-bg);
    --text-on-primary: var(--color-text-on-primary);
    --primary: var(--color-primary);
    --on-primary: var(--color-on-primary);
    --success: var(--color-success);
    --failure: var(--color-failure);
    --icon-stroke: var(--color-icon-stroke);
  }
}

body {
  color: var(--color-text-on-bg);
  background: var(--color-bg-primary);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-inter);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);

  /* Global options */
}

@theme {
  --color-primary: var(--rv-color-primary);
  --color-bgprimary: var(--rv-color-bg-primary);
  --color-text-on-bg: #000000;
  --color-text-on-primary: #000000;
  --color-primary: #F1EFE0;
  --color-on-primary: #D7D4C2;
  --color-success: #A3E99D;
  --color-failure: #E9C59D;
  --color-icon-stroke: #1E1E1E;
  --color-shadow: rgba(0, 0, 0, 0.25);

  --font-weight-xthin: var(--rv-font-weight-xthin);
  --font-weight-thin: var(--rv-font-weight-thin);
  --font-weight-medium: var(--rv-font-weight-medium);
  --font-weight-thick: var(--rv-font-weight-thick);
  --font-weight-xthick: var(--rv-font-weight-xthick);
  --font-weight-2xthick: var(--rv-font-weight-2xthick);
}
