@import "tailwindcss";

:root {
  /* Utility variables, source of truth. "Clean variables" are produced mostly by tailwind's @theme down below. */

  /* Colors */
  --rv-color-bg-primary: #FCFBF9;
  --rv-color-text-on-background: #000000;
  --rv-color-text-on-primary: #000000;
  --rv-color-primary: #F1EFE0;
  --rv-color-on-primary: #D7D4C2;
  --rv-color-success: #A3E99D;
  --rv-color-failure: #E9C59D;
  --rv-color-icon-stroke: #1E1E1E;
  --rv-color-shadow: rgba(0, 0, 0, 0.25);

  /* Legacy naming */
  /* TODO: Migrate! */
  --background: var(--rv-color-bg-primary);
  --text-on-background: var(--rv-color-text-on-bg);
  --text-on-primary: var(--rv-color-text-on-primary);
  --primary: var(--rv-color-primary);
  --on-primary: var(--rv-color-on-primary);
  --success: var(--rv-color-success);
  --failure: var(--rv-color-failure);
  --icon-stroke: var(--rv-color-icon-stroke);

  /* Radius */
  --rv-radius-xsmall: 0.25rem;
  --rv-radius-small: 0.5rem;
  --rv-radius-medium: 0.75rem;
  --rv-radius-large: 1rem;
  --rv-radius-xlarge: 1.75rem;
  --rv-radius-2xlarge: 3rem;
  --rv-radius-full: 64rem;

  /* Padding & margin */
  /* Should be provided by tailwindcss */
  /* Remove these when all styles are migrated to tailwind */
  --rv-padding-xsmall: 0.25rem;
  --rv-padding-small: 0.5rem;
  --rv-padding-medium: 0.75rem;
  --rv-padding-large: 1rem;
  --rv-padding-xlarge: 1.75rem;
  --rv-padding-2xlarge: 3rem;

  --rv-margin-xsmall: 0.25rem;
  --rv-margin-small: 0.5rem;
  --rv-margin-medium: 0.75rem;
  --rv-margin-large: 1rem;
  --rv-margin-xlarge: 1.75rem;
  --rv-margin-2xlarge: 3rem;

  /* Text */
  --rv-font-size-xsmall: 0.75rem;
  --rv-font-size-small: 1rem;
  --rv-font-size-medium: 1.5rem;
  --rv-font-size-large: 2.25rem;
  --rv-font-size-xlarge: 3.25rem;
  --rv-font-size-2xlarge: 4.5rem;
  --rv-font-size-3xlarge: 6rem;
  --rv-font-size-4xlarge: 8rem;

  --rv-font-weight-xthin: 300;
  --rv-font-weight-thin: 400;
  --rv-font-weight-medium: 500;
  --rv-font-weight-thick: 600;
  --rv-font-weight-xthick: 700;
  --rv-font-weight-2xthick: 800;

  /* Other styles */
  --brightness-hover: 96%;

  /* Ugly global vars */
  --rv-card-width: 40vw;
  --rv-card-height: 35vh;

  /* Global options */
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --rv-color-bg-primary: #333125;
    --rv-color-text-on-bg: #BCB794;
    --rv-color-primary: #403C1C;
    --rv-color-on-primary: #6D6840;
    --rv-color-success: #375234;
    --rv-color-failure: #786C5E;
    --rv-color-icon-stroke: var(--rv-color-text-on-bg);

    --rv-brightness-hover: 110%;

    /* Legacy naming, migrate! */
    --background: var(--rv-color-bg-primary);
    --text-on-background: var(--rv-color-text-on-bg);
    --text-on-primary: var(--rv-color-text-on-primary);
    --primary: var(--rv-color-primary);
    --on-primary: var(--rv-color-on-primary);
    --success: var(--rv-color-success);
    --failure: var(--rv-color-failure);
    --icon-stroke: var(--rv-color-icon-stroke);
  }
}

body {
  color: var(--rv-color-text-on-bg);
  background: var(--rv-color-bg-primary);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-inter);
  font-size: var(--rv-font-size-medium);
  font-weight: var(--rv-font-weight-medium);

  /* Global options */
}

@theme {
  --color-primary:          var(--rv-color-primary);
  --color-primary-bg:       var(--rv-color-bg-primary);
  --color-text-on-bg:       var(--rv-color-text-on-background);
  --color-text-on-primary:  var(--rv-color-text-on-primary);
  --color-on-primary:       var(--rv-color-on-primary);
  --color-success:          var(--rv-color-success);
  --color-failure:          var(--rv-color-failure);
  --color-icon-stroke:      var(--rv-color-icon-stroke);
  --color-shadow:           var(--rv-color-shadow);

  --font-weight-xthin:    var(--rv-font-weight-xthin);
  --font-weight-thin:     var(--rv-font-weight-thin);
  --font-weight-medium:   var(--rv-font-weight-medium);
  --font-weight-thick:    var(--rv-font-weight-thick);
  --font-weight-xthick:   var(--rv-font-weight-xthick);
  --font-weight-2xthick:  var(--rv-font-weight-2xthick);

  --spacing-xsmall: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing-medium: 0.75rem;
  --spacing-large: 1rem;
  --spacing-xlarge: 1.75rem;
  --spacing-2xlarge: 3rem;
  --spacing-full: 64rem;

  --text-xsmall:  var(--rv-font-size-xsmall);
  --text-small:   var(--rv-font-size-small);
  --text-medium:  var(--rv-font-size-medium);
  --text-large:   var(--rv-font-size-large);
  --text-xlarge:  var(--rv-font-size-xlarge);
  --text-2xlarge: var(--rv-font-size-2xlarge);
  --text-3xlarge: var(--rv-font-size-3xlarge);
  --text-4xlarge: var(--rv-font-size-4xlarge);
}
