.topLevelContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.cardPositioner {
  display: flex;
  position: relative;
  height: var(--rv-card-height);
  flex-direction: column;
  align-items: center;
}

.menuItemButton {
  font-size: var(--text-large);
  font-weight: 800;
  background-color: var(--color-primary);
}

.menuItemButtonInnerContainer {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-large);
}

.separator {
  margin-top: var(--spacing-large);
}

