.buttonOuter {
  display: flex;
  justify-content: center;
  border-radius: var(--radius-xlarge);
  box-shadow: 0px 4px 4px var(--color-shadow);
  border-color: green;
  overflow: hidden;
}

.buttonInner {
  display: flex;
  flex: 1;
  align-items: center;
  column-gap: var(--padding-large);
  padding: var(--padding-small) var(--padding-medium);
}

.buttonOuter:hover {
  filter: brightness(var(--brightness-hover));
}

.buttonOuter:active {
  box-shadow: 0px 2px 2px var(--color-shadow);
}

