.selectItemListItem {

}

.itemInner {
  display: flex;
  flex-direction: row;
  min-width: 20vw;
  justify-content: space-between;
}

.itemFormInnerContainer {
  display: flex;
  flex-direction: column;
}

.sectionContainer {
  display: flex;
  flex-direction: row;
}

.sectionItemsContainer {
  display: flex;
  flex-direction: column;
  max-height: 35vh;
  overflow-y: scroll;
}
