.columnFlexContainer {
  display: flex;
  flex-direction: column;
}

.panelSpacer {
  display: flex;
  flex: 1;
  margin-top: var(--rv-margin-xlarge);
}

.returnButtonColor {
  background-color: var(--rv-color-on-primary);
}

.repeatButtonColor {
  background-color: var(--rv-color-failure);
}

.gotItButtonColor {
  background-color: var(--rv-color-success);
}

.cardButton {
  font-size: var(--rv-font-size-medium);
  font-weight: var(--rv-font-weight-xthick);
}
