.outerCard {
  position: relative;
  display: flex;
  flex: 1;
  width: var(--rv-card-width);
}

.innerCard {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: var(--color-primary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--spacing-xlarge);
  padding: var(--spacing-xlarge);
  font-family: var(--rv-font-inter);
}

.obstructorOuter {
  /* Just for card developement */
  position: absolute;
  bottom: 0;
  height: 50%;
  width: inherit;
  border-radius: var(--spacing-xlarge);
  background-color: var(--color-on-primary);

  display: flex;
  justify-content: center;
  align-items: center;
}

.obstructorOuter:hover {
  filter: brightness(96%);
}

.textWrapper {
  display: flex;
  flex: 1;
  padding: var(--spacing-xlarge);
  align-items: center;
  justify-content: center;
  font-size: var(--text-large);
  font-weight: 800;
}

.translationWrapper {
  display: flex;
  flex: 1;
  padding: var(--spacing-xlarge);
  align-items: center;
  justify-content: center;
  font-size: var(--text-large);
  font-weight: 600;
}

.displayNone {
  display: none;
}

.cardToolbarLayout {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0px;
  padding-right: var(--spacing-xlarge);
  padding-top: var(--spacing-xlarge);
}

.cardToolbar {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.flexContainer {
  display: none;
}

.buttonWrapperLayout {
  display: flex;
  width: var(--rv-card-width);
  flex-direction: row;
  font-weight: 500;
}

.buttonWrapperLayoutInner {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-top: var(--spacing-xlarge);
  gap: var(--spacing-xlarge);
}

.buttonWrapperLayoutCenter {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
}

.buttonCommon {
  display: flex;
  flex: 1;
  justify-content: center;
}

.buttonInner {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-large);
  border-radius: var(--spacing-xlarge);
  padding: var(--spacing-small) var(--spacing-medium);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonInner:hover {
  filter: brightness(96%);
}

.buttonReturn {
  background-color: var(--color-primary);
}

.buttonProgress {
  background-color: var(--color-success);
}

.buttonRepeat {
  background-color: var(--color-failure);
}
