.columnFlexContainer {
  display: flex;
  flex-direction: column;
}

.panelSpacer {
  display: flex;
  flex: 1;
  margin-top: var(--margin-xlarge);
}

.returnButtonColor {
  background-color: var(--on-primary);
}

.repeatButtonColor {
  background-color: var(--failure);
}

.gotItButtonColor {
  background-color: var(--success);
}

.cardButton {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-xthick);
}
